body{
  background-image: url("grey3.jpg");
  background-size: cover;
  font-weight: 600;
}
.top{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #51c4d3;
}
.mid{
  margin: 50px 100px 0px 100px ;
}
